:root {
  --down-color-card: #eb99c2;
  --color-mamie: #c14492;
  --color-maman: #f3af89;
  --color-peppa: #f1635d;
  --color-papi: #6b4fa4;
  --color-papa: #77c7c1;
  --color-george: #007cc2;
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  background-color: #007cc2;
  padding: 10px;
}

.github {
  position: fixed;
  width: 50px;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  fill: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 100;
}

.github:hover {
  scale: 1.2;
  filter: drop-shadow(0px 0px 2px #00000080);
}

body {
  background-color: #7fb6f6;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #007cc2;
}
::-webkit-scrollbar-thumb {
  background: #006699;
  border-radius: 10px;
}
.soleil {
  position: fixed;
  right: 0;
  margin: 30px;
  width: 130px;
  z-index: 0;
}
.herbe {
  position: absolute;
  max-height: 860px;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.denree {
  position: fixed;
  width: 300px;
  position: absolute;
  z-index: 0;
  rotate: 331deg;
  top: 130px;
}
audio {
  display: none;
}
.cards {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 292px);
  grid-gap: 110px;
  row-gap: 35px;
  padding-top: 55px;
  z-index: 10;
  transition: all 0.3s;
}

.card {
  display: flex;
  width: 100%;
  height: 350px;
  color: #ffffff;
  border-radius: 12px;
  padding: 8px;
}
.card.mamie {
  background: linear-gradient(
    180deg,
    var(--color-mamie) 0%,
    var(--down-color-card) 100%
  );
}
.card.maman {
  background: linear-gradient(
    180deg,
    var(--color-maman) 0%,
    var(--down-color-card) 100%
  );
}
.card.peppa {
  background: linear-gradient(
    180deg,
    var(--color-peppa) 0%,
    var(--down-color-card) 100%
  );
}
.card.papi {
  background: linear-gradient(
    180deg,
    var(--color-papi) 0%,
    var(--down-color-card) 100%
  );
}
.card.papa {
  background: linear-gradient(
    180deg,
    var(--color-papa) 0%,
    var(--down-color-card) 100%
  );
}
.card.george {
  background: linear-gradient(
    180deg,
    var(--color-george) 0%,
    var(--down-color-card) 100%
  );
}
.card-layer {
  position: relative;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
}
.card-layer2 {
  position: relative;
  display: flex;
  background-color: #7fb6f6;
  padding: 8px;
  border-radius: 6px;
}
.last-fucking-layer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4px;
}
.card-name {
  display: flex;
  font-family: "Jua", sans-serif;
  font-size: 10px;
  margin: 10px 10px 0px 10px;
}
.card-name img {
  padding-left: 6px;
  cursor: pointer;
  transition: all 0.2s;
}
.card-name img:hover {
  scale: 1.1;
}
.card-name img:active {
  scale: 1.2;
}
.special-groin::before {
  content: "Groin de Tbeau";
  color: #000000;
  position: absolute;
  bottom: 100%;
  left: 73px;
  background: #ffffff8a;
  padding: 3px 6px;
  backdrop-filter: blur(2px);
  border-radius: 13px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.special-groin:hover::before {
  opacity: 1;
}

.card-description {
  color: #000000;
  font-family: "Jost", sans-serif;
  font-size: 15px;
  margin: 10px;
  padding-right: 50px;
}
.personnage {
  position: relative;
  display: flex;
  width: 175px;
  left: 176px;
  bottom: 130px;
  margin: 10px;
  transform: translate(-8px, -145px);
}

@media screen and (max-width: 1274px) {
  .cards {
    grid-template-columns: repeat(2, 292px);
    grid-gap: 90px;
    row-gap: 20px;
  }
  .herbe {
    position: fixed;
  }
}
@media screen and (max-width: 860px) {
  .cards {
    grid-template-columns: repeat(1, 292px);
    grid-gap: 90px;
    row-gap: 20px;
  }
  .denree {
    width: 180px;
  }
}
@media screen and (max-width: 860px) {
  .denree {
    display: none;
  }
}
